body {
  background-color: #BABD42;
  color: white;
}

h1, h2 {
  color: #614124;
}

h3 {
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.option-container {
  display: none;
  justify-content: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#res {
  justify-content: center;
}

.h-con {
  min-height: 5vh;
}

#h {
  display: none;
  justify-content: center;
  width: min-content;
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 10px;
}

.btn {
  background-color: transparent;
  margin-right: 15px;
  border: none;
}

.btn:hover {
  transform: scale(1.2);
}

.button {
  background-color: #406343;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 3px 3px 3px grey;
}

.button:hover {
  background-color: #82A284;
}